flows_nmiri000.json
[{"id":"15239e0.a3d1a62","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"870a609b.bff24","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"7db1d612.fee498","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87260241.d13e6","type":"ui_group","z":"","name":"温度","tab":"6c096322.55aa0c","order":1,"disp":true,"width":"6","collapse":false},{"id":"adaa5284.a2692","type":"ui_group","z":"","name":"湿度","tab":"6c096322.55aa0c","order":2,"disp":true,"width":"6","collapse":false},{"id":"367952e6.a5f36e","type":"ui_group","z":"","name":"気圧","tab":"6c096322.55aa0c","order":3,"disp":true,"width":"6","collapse":false},{"id":"23726d69.d129c2","type":"ui_group","z":"","name":"磁気X","tab":"6c096322.55aa0c","order":4,"disp":true,"width":"6","collapse":false},{"id":"b13d80b2.b30d2","type":"ui_group","z":"","name":"加速度X","tab":"6c096322.55aa0c","order":5,"disp":true,"width":"6","collapse":false},{"id":"77c90bcb.959524","type":"ui_group","z":"","name":"角加速度X","tab":"6c096322.55aa0c","order":6,"disp":true,"width":"6","collapse":false},{"id":"8df68496.76e288","type":"ui_group","z":"","name":"明るさ","tab":"6c096322.55aa0c","order":7,"disp":true,"width":"6","collapse":false},{"id":"6c096322.55aa0c","type":"ui_tab","z":"","name":"モニタリング","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0d265ae.b07fa8","type":"sensorTag","z":"870a609b.bff24","name":"","topic":"sensorTag","uuid":"546c0e533318","temperature":false,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":false,"luxometer":true,"x":240,"y":300,"wires":[["63d25382.9a6eac","8338e96.b6d9e18","3ac986a3.1612fa","7e235efd.9b91","9626fc2.b9d9f","384a4b01.844464","1f2478e3.3500f7"]]},{"id":"63d25382.9a6eac","type":"debug","z":"870a609b.bff24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"8338e96.b6d9e18","type":"switch","z":"870a609b.bff24","name":"Humidity Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":380,"wires":[["21d58376.474e2c","bdc7305c.8cfe3"]]},{"id":"3ac986a3.1612fa","type":"switch","z":"870a609b.bff24","name":"Pressure Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":480,"wires":[["6df875b8.225cac"]]},{"id":"c84d87d.f10d978","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"87260241.d13e6","order":1,"width":0,"height":0,"gtype":"gage","title":"温度","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1070,"y":380,"wires":[]},{"id":"97e58743.b99fe8","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"367952e6.a5f36e","order":1,"width":0,"height":0,"gtype":"gage","title":"気圧","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1070,"y":480,"wires":[]},{"id":"21d58376.474e2c","type":"change","z":"870a609b.bff24","name":"Temprature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":380,"wires":[["c84d87d.f10d978"]]},{"id":"6df875b8.225cac","type":"change","z":"870a609b.bff24","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":480,"wires":[["97e58743.b99fe8"]]},{"id":"7e235efd.9b91","type":"switch","z":"870a609b.bff24","name":"Luxometer Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/luxometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":720,"wires":[["bc85bb4f.8a3758"]]},{"id":"bc85bb4f.8a3758","type":"change","z":"870a609b.bff24","name":"Luxometer","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":720,"wires":[["8bfc8493.280428"]]},{"id":"8bfc8493.280428","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"8df68496.76e288","order":1,"width":0,"height":0,"gtype":"gage","title":"明るさ","label":"units","format":"{{value}}","min":0,"max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":" ","seg2":"400","x":1070,"y":720,"wires":[]},{"id":"9626fc2.b9d9f","type":"switch","z":"870a609b.bff24","name":"Accelerometer Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/accelerometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":600,"wires":[["1908e184.2ab92e"]]},{"id":"1908e184.2ab92e","type":"change","z":"870a609b.bff24","name":"accelerometerX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":600,"wires":[["9da0b91b.f6de18"]]},{"id":"9da0b91b.f6de18","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"b13d80b2.b30d2","order":1,"width":0,"height":0,"gtype":"gage","title":"加速度","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-10","seg2":"10","x":1070,"y":600,"wires":[]},{"id":"384a4b01.844464","type":"switch","z":"870a609b.bff24","name":"Gyroscope Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/gyroscope","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":680,"wires":[["f5d97dd0.59c94"]]},{"id":"f5d97dd0.59c94","type":"change","z":"870a609b.bff24","name":"GyroscopeX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":680,"wires":[["9bd720ac.ed09f"]]},{"id":"9bd720ac.ed09f","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"77c90bcb.959524","order":1,"width":0,"height":0,"gtype":"gage","title":"角加速度","label":"units","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-250","seg2":"250","x":1080,"y":680,"wires":[]},{"id":"1f2478e3.3500f7","type":"switch","z":"870a609b.bff24","name":"Magnetometer Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/magnetometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":540,"wires":[["1a797b3d.fa4895"]]},{"id":"1a797b3d.fa4895","type":"change","z":"870a609b.bff24","name":"Magnetometer","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":540,"wires":[["3f8cc076.63f54"]]},{"id":"3f8cc076.63f54","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"23726d69.d129c2","order":1,"width":0,"height":0,"gtype":"gage","title":"磁気","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1070,"y":540,"wires":[]},{"id":"951fd81d.9aceb8","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"adaa5284.a2692","order":1,"width":0,"height":0,"gtype":"gage","title":"湿度","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1070,"y":420,"wires":[]},{"id":"bdc7305c.8cfe3","type":"change","z":"870a609b.bff24","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":420,"wires":[["951fd81d.9aceb8"]]}]